html, body {
	margin:0px;
	padding:0px;
	background:#000;
	color:#ccc;
	font-size: 62.5%;
}

/* This will enforce block-level properties to HTML5 elements */
article, aside, details, figcaption, figure, 
footer, header, hgroup, nav, section {
	display: block;
}



#container {
	width: 100%;
	height: 100%;
}

article {
    -webkit-transition: background 0.2s ease 0s;
    transition: background 0.2s ease 0s; 
	font-size:2.0rem;
	margin:auto;
	width:80%;
	}

header {
	text-align: center;
	color:#CCC;
}

hgroup {
	width: 100%;
	background-color: #292929;
}

h1 {
	font-family: 'Pacifico', cursive;
	margin-left:4%;
	color:#777;
	font-size:3.0rem;
}
h2 {	
	font-family: 'Pacifico', cursive;
	margin-left:4%;
	color:#666;
	font-size:2.6rem;
	font-weight:normal;
}

nav {
	font-family: 'Pacifico', cursive;
	font-size:2.0rem;
}

li {
	list-style: none;
	padding: 0px;
	display: inline-block;
}

article li {
	line-height: 2.8rem;
	display:block;
}

a:link {color: #D9418D;}
a:visited{color:#E889C5;
		text-decoration: line-through;}
a:hover{color:#E3B6D2;
		text-decoration: none;}

footer {
	display:block;
	text-align: center;
	color:#ccc;
	bottom:2%;
}

@media only screen and (min-width: 480px) {
	article {
		font-size:2.2rem;
		background: #111;
		color:#777;
	}

	a:visited{color:#E889C5;
			text-decoration: line-through;}
	a:hover{color:#E3B6D2;
			font-size: 2.3rem;
			text-decoration: none;}

}

@media only screen and (min-width: 768px) {
	h1 {
		margin:0px;
		text-align: center;
		font-size:3.5rem;
	}
	h2 {
		text-align: center;
		font-size:3.2rem;
	}

	nav {
		text-align:center;
		font-size: 2.2rem;
	}

	article {
		font-size:2.6rem;
		background:#222;
	}

	li {
		display: inline-block;
	}
}

@media only screen and (min-width: 1024px) {
	h1 {
		font-size: 4.0rem;
	}
	h2 {
		font-size: 3.4rem;
	}

	nav {
		font-size: 3.0rem;
	}

	article {
		font-size:2.8rem;
	}
}
